# Ejemplo de configuración para tu base de datos,
# usa Postgres en caso de tener un historico y almacenar más datos
POSTGRES_DB=tu_base_de_datos
POSTGRES_USER=tu_usuario
POSTGRES_PASSWORD=tu_contrasena_segura
BCC_TOKEN=token del banco central